<section class="proyectos container-fluid">
  <div>
    <h2>PROYECTOS</h2>
  </div>
  <div class="row fila-proyectos">
    <div
      *ngFor="let item of proyecto"
      class="card text-bg-success m-3 col-12 col-sm-6 col-md-4"
      style="width: 22rem"
    >
      <img
        src="{{ item.imagen }}"
        class="card-img-top mt-4"
        alt="{{ item.titulo }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <h5 class="card-title">{{ item.subtitulo }}</h5>

        <p class="card-text">
          {{ item.descripcion }}
          <a href="{{ item.enlace }}" target="_blank" rel="noopener noreferrer"
            >aquí</a
          >
        </p>
      </div>
    </div>
    <div class="crud my-2">
      <div>
        <button class="bg-warning botones-cambios" *ngIf="isLogged">
          <i class="fas fa-plus-square"></i>CREAR
        </button>
      </div>
      <div>
        <button class="bg-warning botones-cambios mx-2" *ngIf="isLogged">
          <i class="fas fa-edit"></i>EDITAR
        </button>
      </div>
      <div>
        <button class="bg-warning botones-cambios" *ngIf="isLogged">
          <i class="fas fa-trash-alt"></i>BORRAR
        </button>
      </div>
    </div>
  </div>
</section>
