<section class="habilidades container-fluid d-flex justify-content-center">
  <div class="w-50">
    <h2>HABILIDADES</h2>
    <!---------------------------------------------------------------------------->
    <!-- <ul>
      <li *ngFor="let h of habilidad">
        {{ h.nombreHabilidad }}
      </li>
    </ul>
    <ul>
      <li *ngFor="let h of habilidad">
        {{ h.porcentajeHabilidad }}
      </li>
    </ul> -->
    <!---------------------------------------------------------------------------->
    <h3>-----------------------------------------------------</h3>

    <div *ngFor="let h of habilidad">
      <h4>{{ h.nombreHabilidad }}</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 3rem"
      >
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 50%"
        >
          {{ h.porcentajeHabilidad }} %--ID:{{ h.id }}
        </div>
      </div>
    </div>
    <h3>-----------------------------------------------------</h3>
    <!---------------------------------------------------------------------------->

    <br />
    <div class="tecnologia1">
      <h4>HTML</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 90%"
        >
          90%
        </div>
      </div>
    </div>
    <div class="tecnologia2">
      <h4>CSS</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 70%"
        >
          70%
        </div>
      </div>
    </div>
    <div class="tecnologia3">
      <h4>JavaScript</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 50%"
        >
          50%
        </div>
      </div>
    </div>
    <div class="tecnologia4">
      <h4>Bootstrap</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 70%"
        >
          70%
        </div>
      </div>
    </div>
    <div class="tecnologia5">
      <h4>TypeScript</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-warning"
          role="progressbar"
          style="width: 40%"
        >
          40%
        </div>
      </div>
    </div>
    <div class="tecnologia6">
      <h4>Node JS</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 70%"
        >
          70%
        </div>
      </div>
    </div>
    <div class="tecnologia7">
      <h4>Express</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 50%"
        >
          50%
        </div>
      </div>
    </div>
    <div class="tecnologia8">
      <h4>React</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 50%"
        >
          50%
        </div>
      </div>
    </div>
    <div class="tecnologia9">
      <h4>Angular</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 70%"
        >
          70%
        </div>
      </div>
    </div>
    <div class="tecnologia10">
      <h4>MySQL</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%">
          50%
        </div>
      </div>
    </div>
    <div class="tecnologia11">
      <h4>MongoDB</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%">
          50%
        </div>
      </div>
    </div>
    <div class="tecnologia12">
      <h4>Java</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div class="progress-bar" role="progressbar" style="width: 40%">
          40%
        </div>
      </div>
    </div>
    <div class="tecnologia13">
      <h4>SpringBoot</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div class="progress-bar" role="progressbar" style="width: 40%">
          40%
        </div>
      </div>
    </div>
    <div class="tecnologia14">
      <h4>Git/GitHUb</h4>
      <div
        class="progress mb-3 bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 80%"
        >
          80%
        </div>
      </div>
    </div>

    <div class="habilidad1">
      <h4>Inglés</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 60%"
        >
          60%
        </div>
      </div>
    </div>
    <div class="habilidad2">
      <h4>Metodologías Ágiles</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 60%"
        >
          60%
        </div>
      </div>
    </div>
    <div class="habilidad3">
      <h4>Habilidades Blandas</h4>
      <div
        class="progress bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 80%"
        >
          80%
        </div>
      </div>
    </div>
    <div class="habilidad4">
      <h4>Autodidácta/Comunicativo/Colaborativo</h4>
      <div
        class="progress mb-3 bg-dark border border-dark border-3"
        style="height: 2rem"
      >
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 100%"
        >
          100%
        </div>
      </div>
    </div>
  </div>
</section>
