<section class="habilidades container-fluid d-flex justify-content-center">
  <div class="w-50">
    <h2>HABILIDADES</h2>
    <div *ngFor="let item of habilidad">
      <h3>{{ item.nombreHabilidad }}</h3>
      <div class="meter">
        <span style.width="{{ item.porcentajeHabilidad }}%"
          >{{ item.porcentajeHabilidad }} %</span
        >
      </div>
    </div>

    <div class="crud my-2">
      <div>
        <button class="bg-warning botones-cambios" *ngIf="isLogged">
          <i class="fas fa-plus-square"></i>CREAR
        </button>
      </div>
      <div>
        <button class="bg-warning botones-cambios mx-2" *ngIf="isLogged">
          <i class="fas fa-edit"></i>EDITAR
        </button>
      </div>
      <div>
        <button class="bg-warning botones-cambios" *ngIf="isLogged">
          <i class="fas fa-trash-alt"></i>BORRAR
        </button>
      </div>
    </div>
  </div>
</section>
