<section class="imagen-central container-fluid">
  <article class="titulo-imagen-central">
    <h1 class="py-2">{{ persona.nombreCompleto }}</h1>
    <h1 class="py-2">{{ persona.puesto }}</h1>
  </article>

  <div class="crud my-2">
    <div>
      <button class="bg-warning botones-cambios" *ngIf="isLogged">
        <i class="fas fa-plus-square"></i>CREAR
      </button>
    </div>
    <div>
      <button class="bg-warning botones-cambios mx-2" *ngIf="isLogged">
        <i class="fas fa-edit"></i>EDITAR
      </button>
    </div>
    <div>
      <button class="bg-warning botones-cambios" *ngIf="isLogged">
        <i class="fas fa-trash-alt"></i>BORRAR
      </button>
    </div>
  </div>
</section>
