<!-- Modal de Bootstrap-->
<section class="ventana-login">
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            INGRESA AQUÍ PARA EDITAR EL PORTFOLIO
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="inputUsuario" class="form-label">USUARIO</label>
          <input
            #campoUsuario
            type="text"
            id="inputUsuario"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />
          <label for="inputPassword5" class="form-label">CONTRASEÑA</label>
          <input
            #campoPass
            type="password"
            id="inputPassword5"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            CERRAR
          </button>
          <button type="button" class="btn btn-primary" (click)="database()">
            INGRESAR
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
