<section class="acerca-de container-fluid">
  <div class="row">
    <div class="foto-perfil col-12 col-md-4 d-flex justify-content-center my-4">
      <img src="assets/imagenes/imagen_perfil.jpg" alt="Foto de Perfil" />
    </div>
    <div
      class="texto-acerca-de col-12 col-md-8 d-flex flex-column justify-content-center align-items-center px-3"
    >
      <span>Acerca de mí...</span>
      <br />
      <p>
        Soy Miguel, un flamante Full Stack Developer Jr. y estoy buscando nuevos
        horizontes laborales, como también nuevas experiencias, oportunidades y
        desafíos.<br />
        Mi objetivo es ingresar al mundo del Desarrollo Web, ya que algo que
        empezó para mi cómo un hobbie es hoy una pasión y es mi sueño poder
        trabajar y también vivir de ésto que me apasiona.
        <br />Creo que si bien no tengo experiencia laboral en este campo, sí he
        adquirido con los años la cultura del trabajo en equipo y he aportado
        valor a los distintos grupos que he comformado a lo largo de mi vida
        profesional.
      </p>
    </div>
  </div>
</section>
