<section class="acerca-de container-fluid">
  <div class="row">
    <div class="foto-perfil col-12 col-md-4 d-flex justify-content-center my-4">
      <img [src]="persona.fotoPerfil" alt="Foto de Perfil" />
    </div>
    <div
      class="texto-acerca-de col-12 col-md-8 d-flex flex-column justify-content-center align-items-center px-3"
    >
      <span> Acerca de mí... </span>
      <br />
      <p>
        {{ persona.acercaDe1 }}
        <br />
        {{ persona.acercaDe2 }}
        <br />
        {{ persona.acercaDe3 }}
      </p>
    </div>
  </div>
</section>
