<section class="acerca-de container-fluid">
  <div class="row">
    <div class="foto-perfil col-12 col-md-4 d-flex justify-content-center my-4">
      <img [src]="persona.fotoPerfil" alt="Foto de Perfil" />
    </div>
    <div
      class="texto-acerca-de col-12 col-md-8 d-flex flex-column justify-content-center align-items-center px-3"
    >
      <span> Acerca de mí... </span>
      <br />
      <p>
        {{ persona.acercaDe1 }}
        <br />
        {{ persona.acercaDe2 }}
        <br />
        {{ persona.acercaDe3 }}
      </p>
    </div>
  </div>

  <div class="crud my-2">
    <div>
      <button class="bg-warning botones-cambios" *ngIf="isLogged">
        <i class="fas fa-plus-square"></i>AGREGAR
      </button>
    </div>
    <div>
      <button class="bg-warning botones-cambios mx-2" *ngIf="isLogged">
        <i class="fas fa-edit"></i>EDITAR
      </button>
    </div>
    <div>
      <button class="bg-warning botones-cambios" *ngIf="isLogged">
        <i class="fas fa-trash-alt"></i>ELIMINAR
      </button>
    </div>
  </div>
</section>
