.aceptado {
  background-color: rgb(84, 249, 84);
  position: absolute;
  top: 20px;
  left: 400px;
  width: 35rem;
  height: 20rem;
  z-index: 1000;
}
.rechazado {
  background-color: rgb(248, 116, 107);
  position: absolute;
  top: 20px;
  left: 400px;
  width: 35rem;
  height: 20rem;
  z-index: 1000;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
